:root{
	--primary-font: "Poppins", sans-serif;
	--primary-color: #FFFFFF;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
	--text-color: #5e5e5e;
}

[data-theme2="dark"] {
    --primary-color: #162132;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
	--text-color: #FFFFFF;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
